/*Rules*/
/*1. Add your initials - we need to know who made what*/
/*For example, you have a div you want an id for, use divIN (IN=initials)*/
/*2. Add comments to say what each bit does/what it's for*/
/*No need to break down line by line, just an overall idea of what it is for*/
/*Skip a line between code to make it easier to read*/

/* Created by OJ */
/* basic style which applies to all devices by default, mobile-first approach */
@media{
	
.ra-button, #cycle {
	padding: .3em .9em;
	border-radius: .25em;
	background: linear-gradient(#fff, #efefef);
	box-shadow: 0 1px .2em gray;
	display: inline-flex;
	align-items: center; cursor: pointer;
	width: 50%;
}
	
.ra-button svg{
		height: 1em; margin: 0 .5em 0 0;
}

.one{ 
	color: slateblue;
	text-align: center;
	margin: auto;
	padding-top: 2px;
}

.fOM{
	text-align: center;
	margin-bottom: 30px;
	margin-left: 100px;
}

.paragraphOJ, .paragraphOJ1, .paragraphOJ2 {
	margin-left: 10px;
	margin-right: 20px;
}

.h4OJ{
	margin-left: 10px;
}

.decoration{
	margin-bottom: 0px;
}

.fa-2xl{
	margin-left: 30px;
	margin-bottom: 5px;
}

.rounded{
	clip-path: circle();
	width: 100%;
	height: 100%;
	opacity: 80%;
}

.aboutBody {
	background: linear-gradient(to bottom, #33ccff 0%, #DAA520 100%);
	color: #191970;
}

.flip-card {
  background-color: transparent;
  height: 200px;
  clip-path: circle();
  perspective: 1000px;
  margin-bottom: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  font-size: 10px;
  transform: rotateY(180deg);
}

.img-comp-container{
	float: right;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 350px;
	margin-bottom: 15px;
}	

.img-comp-img img-comp-overlay{
	width: 300px;
	height: 200px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /*color: blue;*/
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 36px;
  /*color: #818181;*/
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 36px;
  margin-left: 100px;
}
}

#main {
  transition: margin-left .5s;
}

const myCarouselElement = document.querySelector('#myCarousel')

const carousel = new bootstrap.Carousel(myCarouselElement, {
  interval: 2000,
  touch: false
})

* {box-sizing: border-box;}

.carouselExample{
	margin-top: 0px;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.column {
  float: left;
  margin-left: 50px;
  width: 20%;
  margin-bottom: 16px;
  padding: 8px;
  align-content: center;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 10px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 97%;
}

.button:hover {
  background-color: #555;
}

.findOutMore{
	background: linear-gradient(to bottom, #3A6D8C 0%, #EAD8B1 100%) ;
	color: #001F3F
}

.fOH{
	margin-top: 50px;
	text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
	.avatar {
	  float: left;
	  vertical-align: middle;
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	  margin-left: 25px;
	  margin-right: 30px;
	  margin-top: 10px;
	  margin-bottom: 10px;
	}
	.fOM{
		margin-top: 70px;
	}

	.externalLinks{
		display: none;
	}
}

@media only screen and (min-width: 600px) {
	.avatar{
		display: none;
	}
}

@media (min-width: 600px) and (max-width: 980px){
	.avatar{
		display: none;
	}
	.column{
		width: 17%;
		padding: 5px;
		float: left;
		margin-left: 35px;
		margin-right: 10px;
	}
	.externalLinks{
		align-content: top;
		font-size: 20px;
		text-align: center;
	}
	.button{
		 width: 85%;
	}
}

.imageConnect{
	height: 80px;
	width: 80%;
	display: justify;
	margin: auto;
}

.connections{
	height: 75%;
	width: 75%;
	padding: 2px;
}

.bubble{
	float: left;
	clip-path: circle();
}

#animateA, .fa-2xlA{
	float: right;
}

#fishA{
	float: right;
	margin-right: 30px;
}

.fa-2xlC, #starA{
	float: right;
}

.fImage{
	height: 10%;
	width: 10%
}

iframe{
	float: right;
	margin-left: 20px;
}
/* end of OJ CSS*/

/* how to make a difference page layout by SH*/
.MainContent {
    margin-top: 100px;
    padding: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.MainContent h1 {
    color: #006994;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid #00b4d8;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}


.action-section {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    align-items: flex-start;
}

.solutions{
    flex: 2;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.solutions h2 {
    color: black;
    margin-bottom: 15px;
}

.solutions p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.ImageContent {
    flex: 1;
    text-align: center;
}

.content-image {
    width: 100%;
    height: 500px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.image-content p {
    margin-top: 10px;
    font-style: italic;
    color: black;
    font-size: 14px;
}
/* Across the world page css created by SH  */
.Main{
    font-family: Arial, sans-serif;
    padding-top: 80px;
    background-color: #e6f7ff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.mainheading {
    text-align: center;
    margin-bottom: 30px;
}

.main-heading h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* HEADER IMAGE */
.large-image-container {
    width: 100%;
    margin-bottom: 40px;
}
#large-imageSH{
	width:100%;
	height:500px;
}

.large-image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


/* SECTIONS */
.section {
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.section h2 {
    color: #1a5f7a;
    margin-bottom: 20px;
    border-bottom: 2px solid #6ab7c7;
    padding-bottom: 10px;
}

/* PARAGRAPHS */
.paragraph {
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

/* PROBLEMS & SOLUTIONS LAYOUT */

.section-left, .section-right {
    display: inline-block;
    vertical-align: top;
}

.section-left {
    width: 100%;
    padding-right: 20px;
}

.section-right {
    width: 35%;
}

.section-right img {
    width: 250%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

/* BULLET LISTS */
.bullet-list {
    list-style: none;
    padding-left: 0;
}

.bullet-list li {
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    background: #f8f9fa;
    border-radius: 4px;
    position: relative;
}

.bullet-list li:before {
    content: ".";
    position: absolute;
    left: 15px;
    color: #1a5f7a;
    font-size: 1.2rem;
}


/* GALLERY */

.galleryImages {
    margin-top: 20px;
}

.galleryImages img {
    width: 100%;  
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;

}

/* FOOTER */

.footer {
    margin-top: 50px;
    padding: 20px;
    background: #1a5f7a;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}



/* end of how to make a difference page & around the world page */


/*Start of Ireland & Quiz page*/
/*centers text in heading section*/
.headingsJH{
	text-align:center;
	margin-top:1%;
}
/*bring image below navbar*/
.topImageJH{
	margin-bottom:1%;
	height:360px;
	width:100%;
	margin-top:0%;
}

.bodyJH{
	 padding-top: 80px;
	 background-color:#f3ebcd;
	 font-family:Helvetica Neue, Arial;
}
/*CSS for flip card https://www.w3schools.com/howto/howto_css_flip_card.asp */
/*Creates the animation behind the funfact flip card*/
.funFactJH{
	background-color:transparent;
	perspective:1000px;
	width:16rem;
	height:11rem;
	
}
.funFactInnerJH{
	position: relative;
	width:16rem;
	height:11rem;
	text-align:center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);


	
}
/*sets it to flip when you hover over it*/
.funFactJH:hover .funFactInnerJH{
	transform:rotateY(180deg);
}
.funFactFrontJH,.funFactBackJH{
	position: absolute;
	width:16rem;
	height:11rem;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.funFactFrontJH{
	background-color:#bbb;
	color:black;
}
.funFactBackJH{
	background-color:lightblue;
	color:black;
	transform:rotateY(180deg);
	
}
.funFactImageJH{
	height:11rem;
	width:16rem;
	margin:0px;
}
.introJH{
	margin-bottom:2%;
}
/*End of flip card*/
/*design of quiz*/
.quizJH{
	background-color:lightblue;
	padding:2%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:2%;
	border: 3px solid black;
	border-radius:10px;
	
}
/*style of submit button on forms*/
.quizSubmitJH{
	text-align:center;
	margin-top:2%;
}
/*to center my main heading on my page*/
.h3JH{
	margin-top:0%;
	text-align:center;
}

/*sets the width and height arround the flip-cards*/
.areaJH{
	height:11rem;
	width:16rem;
	
}

/*style for the paragraphs that contain the information */
.infoJH{
	margin-bottom:10%;
}
/*sets the width and height arround the flip-cards on a smaller screen*/
.sAreaJH{
	height:11rem;
	width:16rem;
	margin-bottom:10%;
	margin-left:6rem;
}
/*Underlines my subheadings making them easier to find for users*/
.subHeadingsJH{
	text-decoration:underline; /*W3Schools, text-decoration https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
	
}
/*styling for drop down questions on smaller quiz*/
.formQJH{
	width:90%;
	text-align:center;
	margin-left:5%;
	margin-right:5%;
}
.error-messageJH{
	color:red;
}


/*end of Ireland & Quiz page*/

/*start of Food Industry and Get in Contact Pages */
/*all end with AC, as to not accidentally overwrite others work*/

.bgLightGreyTopAC /* this code has borders around the background to give a bit of a more pagnated feel */{
	background-color: #ebebeb;
	border-left: 2px solid #bdbdbd;
	border-right: 2px solid #bdbdbd;
	border-top: 2px solid #bdbdbd;
	;
}
.bgLightGreyMiddleAC /* this is reepated three times, for the top div, middle div, and bottom div.*/{
	background-color: #ebebeb;
	border-left: 2px solid #bdbdbd;
	border-right: 2px solid #bdbdbd;
}
.bgLightGreyBottomAC {
	background-color: #ebebeb;
	border-left: 2px solid #bdbdbd;
	border-right: 2px solid #bdbdbd;
	border-bottom: 2px solid #bdbdbd;	
}

.navUnhideAC /* as the heading sometimes hides itself, this is needed to make the heading show up */{
	padding-top:60px;
	text-align: center;
}
	
.blueAC {
	color: #609aeb;
	text-shadow: 0px 0px 2px white;
	text-align: center;
}				

.h5AC {
	text-align: center;
}

.headingAC {
	text-align: center;
	padding-top: 45px;
}

.infoAC {
	margin: 4px;
	margin-top: 8px;
}

.floatRightAC /*for images, goes unused*/{
	float: right;
}

.floatLeftAC /*for images, goes unused*/{
	float: left;
}

.imageMarginAC {
	border-style: solid;
	border-color: #000000;
	border-radius: 5px;
	margin-left: 24px;
	width: 320px;
	border-width: 3px;
	
}
.imageMarginS{
	margin-left: 33%;
	margin-right: 33%;
	width:34%;
}
.bpSpacesAC {
	margin: 5px
}
			
.textAC {
	text-align: center;
	
}

.bgWhiteAC {
	background-color: white;
}